/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Cardo:ital,wght@0,400;0,700;1,400&family=Squada+One&display=swap');

/* Global styles */

:root {
    --white-smoke: #f2f2f2;
    --smoky-black: #0d0d0d;
    --misty-yellow: #d9bb62;
}

html body {
    background-color: var(--smoky-black);
}

header {
    border: solid 1px var(--white-smoke);
    position: fixed;
    width: 100%
}

.navbar {
    background-color: var(--smoky-black);
}


.navbar .nav-link {
    color: var(--white-smoke);
    display: flex;
    justify-content: center;
    border: solid 1px var(--misty-yellow);
}

.navbar .nav-link.active {
    background-color: var(--misty-yellow);
    color: var(--smoky-black)
}

.navbar .nav-link:hover {
    color: var(--smoky-black);
    background-color: var(--misty-yellow);

}

.logo-text {
    color: var(--white-smoke);
    font-family: 'Cardo', sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 2.5rem;
    padding-top: 6px;
}

.logo {
    height: 50px;
    width: 50px;

}

.navbar-toggler {
    border: none;
}

.fa-solid.fa-bars {
    color: #f2f2f2;
    padding-right: 10px;
    padding-top: 6px;
    font-size: 2rem;
}

/* Responsive media query for tablets 768px and above */
@media screen and (min-width:768px) {

    /* Responsive navbar for tablets, with justified items. */
    .navbar-nav {
        width: 75%
    }

    .nav-item {
        flex-basis: 0;
        flex-grow: 1;
        text-align: center;
    }

}