/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Cardo:ital,wght@0,400;0,700;1,400&family=Squada+One&display=swap');

/* Variables for website colour scheme */
:root {
    --white-smoke: #f2f2f2;
    --black-smoke: #0d0d0d;
    --misty-yellow: #d9bb62;
}

/* Global styles */
html body {
    background-color: var(--black-smoke);
    color: var(--white-smoke);
    font-family: 'Andika', sans-serif;
}

header {
    border: solid 1px var(--white-smoke);
    position: sticky;
    top: 0;
    z-index: 99;
}

footer {
    border: solid 1px var(--white-smoke);
    background-color: var(--black-smoke);
    position: sticky;
    bottom: 0;
    z-index: 99;
}

img {
    width: 100%;
    height: auto;
}

section {
    margin-bottom: 15px;
}

/* Formatting for the header/navigation section */
.navbar {
    background-color: var(--black-smoke);
}

.navbar .nav-link {
    color: var(--white-smoke);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.navbar .nav-link.active,
.navbar .nav-link:hover {
    background-color: var(--misty-yellow);
    color: var(--black-smoke);
    font-weight: bold;
}

.logo-text {
    color: var(--white-smoke);
    font-family: 'Cardo', sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 2.5rem;
    padding-top: 6px;
}

.logo {
    height: 3rem;
    width: 3rem;
}

/* Removes outline from bootstrap toggler class */
.navbar .navbar-toggler {
    border: none;
}

/* styling for burger icon in nav bar on mobile view */
.fa-solid.fa-bars {
    color: #f2f2f2;
    padding-right: 10px;
    padding-top: 6px;
    font-size: 2rem;
}

/* #hero-img {
    height: 100%;
} */

/* Spacing between navbar and first section of main content */
#hero-section,
#contact-us-section,
#success-section {
    margin-top: 10px;
}

/* Formatting for the main text across all pages */
.main-text {
    font-size: 1.2rem;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
}

/* font styling for section headers */
.sub-heading {
    font-family: 'Squada One', sans-serif;
    color: var(--black-smoke);
    font-size: 2.5rem;
    margin-bottom: 5px;
    margin-top: 5px;
}

.sub-heading-bg {
    background-color: var(--misty-yellow);
}

/* Formatting for the services section */
.services-header {
    font-size: 1.2rem;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
    color: var(--misty-yellow);
}

.services-text {
    font-size: 1.2rem;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 0;
    margin-bottom: 0;
}

/* Formatting for the Games page */
.card-text {
    color: var(--white-smoke);
    padding: 0;
}

#games-section .card {
    background-color: var(--black-smoke);
}


.card h3 {
    color: var(--misty-yellow);
}

.card-body {
    background-color: var(--black-smoke);
    color: var(--white-smoke);
}

.game-list {
    list-style-type: none;
    color: var(--white-smoke);
    padding: 0;
}

.game-list li {
    padding-bottom: 20px;
}

/* Formatting for the contact us and success pages */
#contact-us-section {
    background: url("../images/hero.avif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: darken;
    margin-bottom: 0;
}

input {
    width: 100%;
    padding: 10px;
    border: solid 2px var(--misty-yellow);
}

select {
    width: 100%;
    padding: 8px;
    border: solid 2px var(--misty-yellow);
}

textarea {
    width: 100%;
    border: solid 2px var(--misty-yellow);
}

#submit,
#home-btn {
    width: 6rem;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--misty-yellow);
    color: var(--black-smoke);
    font-weight: bold;
    font-size: 1rem;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid var(--white-smoke);
    text-decoration: none;
}

#submit:hover,
#home-btn:hover {
    background-color: var(--black-smoke);
    color: var(--misty-yellow);
    font-weight: bolder;
}

#success-section>.row {
    padding-bottom: 10px;
}

/* Socials list in the footer */
#socials {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    text-align: center;
    padding: 5px;
    margin-bottom: 0;
    color: var(--white-smoke);
    font-size: 1.5rem;
}

.fa-brands {
    color: var(--white-smoke);
}

.fa-brands:hover {
    color: var(--misty-yellow);
    background-color: var(--black-smoke);
}


/* Colour of D20 bulletpoints */
.fa-solid.fa-dice-d20 {
    color: var(--misty-yellow);
}

/* Responsive media queries for phones 320px and above */
@media screen and (min-width:320px) {
    .hide-img {
        display: none;
    }

    .gold-outline {
        display: none;
    }

    #benefits-section,
    #services-section,
    #contact-us-section {
        padding: 0;
    }

    #games-section {
        margin-top: 10px;
        margin-bottom: 0;
    }

    #games-section .card {
        margin-bottom: 25px;
    }
}

/* Responsive media query for tablets 768px and above */
@media screen and (min-width:768px) {

    /* Responsive navbar with justified nav-items. */
    .navbar-nav {
        width: 80%;
    }

    .nav-item {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        text-align: center;
    }

    /* class applied to rows for border outlines on tablet sizes and above */
    .gold-outline {
        border: solid 3px var(--misty-yellow);
    }

    /* Extra images appear on larger screen sizes */
    html body {
        background: url("../images/sparks-bg.avif");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .hide-img {
        display: block;
    }

    .black-bg {
        background-color: var(--black-smoke);
    }

    #games-section .card {
        margin-bottom: 15px;
    }

    .card-img-outline {
        border: 1px solid var(--white-smoke);
    }

    #contact-us-section {
        margin-top: 16px;
    }
}

/* Media query for screens sized 992px and up, laptops etc*/
@media screen and (min-width:992px) {
    #services-section {
        padding-left: 10px;
    }

    #benefits-section {
        padding-right: 10px;
    }

    #games-section .card {
        border: solid 1px var(--white-smoke);
    }
}

/* Media queries for screen sizes 1440px and up */
@media screen and (min-width:1440px) {
    .navbar-nav {
        width: 70%;
    }

    .navbar .nav-link {
        font-size: 1.2rem;
    }

    #hero-section {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    #hero-section>.row>.column>p {
        font-size: 1.2rem;
    }

    #games-section {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #contact-us-section input,
    #contact-us-section textarea,
    #contact-us-section select {
        font-size: 1.1rem;
    }

    #contact-us-section input,
    #contact-us-section select {
        padding: 0.5rem;
    }

    #option *,
    #who * {
        font-size: 1rem;
    }
}

/* Media query for 4k screens 2560px and above */
@media screen and (min-width:2560px) {
    .navbar .nav-link {
        font-size: 2rem;
    }

    .logo {
        width: 6rem;
        height: 6rem;
    }

    .logo-text {
        font-size: 5rem;
    }

    .sub-heading {
        font-size: 4rem;
    }

    #hero-section>.row>.column>p {
        font-size: 2rem;
    }

    .main-text {
        font-size: 2rem;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .services-text {
        font-size: 2rem;
        padding-bottom: 20px;
    }

    .services-header {
        font-size: 2rem;
    }

    #games-section {
        margin-bottom: 20px;
    }

    #games-section h3 {
        font-size: 2.5rem;
    }

    #socials {
        font-size: 3rem;
    }

    #contact-us-section input,
    #contact-us-section textarea,
    #contact-us-section select {
        font-size: 1.7rem;
    }

    #contact-us-section input,
    #contact-us-section select {
        padding: 1.2rem;
        margin-bottom: 20px;
    }

    #option *,
    #who * {
        font-size: 1rem;
    }

    #submit,
    #home-btn {
        width: 10rem;
        margin-top: 40px;
        margin-bottom: 0;
        font-size: 2rem;
        padding: 20px;
    }
}